<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slack</title>
    <link rel="stylesheet" href="/static/app.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script>
      var auth2, start = function() {
        gapi.load('auth2', function() {
          // Init auth
          auth2 = gapi.auth2.init({
            client_id: '867427487654-4o9ugpqmst50dscliec6d95mokh0k2j1.apps.googleusercontent.com',
            cookiepolicy: 'single_host_origin',
            fetch_basic_profile: true,
            scope: 'profile email'
          });
        });
      };
    </script>

  </head>
  <body>
  </body>
  <script src="/static/app.js"></script>
</html>
