<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slack</title>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />
    <meta name="google-signin-client_id" content="867427487654-4o9ugpqmst50dscliec6d95mokh0k2j1.apps.googleusercontent.com">
    <link rel="stylesheet" href="/static/app.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <!-- <script>
      function start() {
        gapi.load('auth2', function() {
          window.auth2 = gapi.auth2.init({
            client_id: '867427487654-4o9ugpqmst50dscliec6d95mokh0k2j1.apps.googleusercontent.com',
            scope: 'profile email',
            cookiepolicy: 'https://localhost'
          });
        });
      }
    </script> -->
  </head>
  <body>
  </body>
  <script src="/static/app.js"></script>
</html>
